<div id="title" class="row">
  <div class="twelve columns">
    <h2>Venue Reputation</h2>
    <p>search venues<input type="text" /></p>
  </div>
</div>
<div id="recent" class="row">
  <div class="four columns">
    <p>recent reviews</p>
  </div>
  <div id="account" class="four columns">
    <p>login</p>
  </div>
  <div id="navigation" class="four columns">
    <p>navigation</p>
  </div>
</div>
