/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation
 *= require_tree .
 */

$color-0: #fff5fe;
$color-1: #ffcff8;
$color-2: #935c8a;
$color-3: #5a194f;

body {
  background-color: $color-0;
}

#title {
  background-color: $color-1;
  text-align: center;
}

#recent, #navigation {
  background-color: $color-2;
}

#account {
  background-color: $color-3;
}
